<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_robotiq_robot" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!--robotiq 85 gripper-->
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
  <xacro:robotiq_85_gripper prefix="" parent="ee_link" >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_85_gripper>

  <!--kinect V2-->
  <xacro:include filename="$(find common_sensors)/urdf/sensors/kinect2.urdf.xacro" />
  <xacro:kinect2 parent="world" name="KinectSensor2">
    <origin xyz="0.5 0 1.5" rpy="0 ${2*pi/5} 0" />
  </xacro:kinect2>

  <!--kinect V2 IR RGB (gazebo plugin to make effect the function of camera)-->
<!--
  <xacro:include filename="$(find common_sensors)/urdf/sensors/kinect2.gazebo.xacro" />
  <xacro:kinect2 parent="world" name="KinectSensor2_IR_RGB">
    <origin xyz="0.5 0 1.5" rpy="0 ${2*pi/5} 0" />
  </xacro:kinect2> -->



 <!-- ur base -->
  <link name="ur_base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <!--mass
        value="61.642" /-->
      <mass
        value="1000" />  
      <inertia
        ixx="4.572"
        ixy="0"
        ixz="0"
        iyy="5.991"
        iyz="0"
        izz="4.572" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.144"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur_base/meshes/ur_base.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.144"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur_base/meshes/ur_base.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Used for fixing ur_base to Gazebo 'world' -->
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "ur_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- Used for fixing ur robot to ur_base -->
  <joint name="ur_base" type="fixed">
    <origin
      xyz="0 0 0.714"
      rpy="0 0 0" />
    <parent link="ur_base_link" />
    <child link="base_link" />
  </joint>

<!--
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>
-->

</robot>
