<?xml version="1.0"?>

<launch>
  <arg name="debug" default="false"/>
  <arg name="rviz_config" default="$(find ur_gripper_manipulation)/config/ur_gripper.rviz"/>

  <include file="$(find ur_gripper_gazebo)/launch/ur_gripper_gazebo.launch"/>
  <node name="show_img" pkg="ur_gripper_manipulation" type="show_img.py" respawn="false" output="screen"/>

  <node name="move_grasp_test" pkg="ur_gripper_manipulation" type="move_grasp_test.py" respawn="false" output="screen"/>

  <include file="$(find ur_gripper_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
  </include>

  <include file="$(find ur_gripper_moveit_config)/launch/moveit_rviz.launch">
    <arg name="debug" default="$(arg debug)" />
    <arg name="rviz_config" default="$(arg rviz_config)" />  
  </include>

</launch>
