<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur_gripper_robot" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
      </plugin> 
  </gazebo> 

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!--gripper-->
  <xacro:include filename="$(find gripper)/urdf/gripper.urdf.xacro" />
  <joint name="ur5_gripper_joint" type="fixed">
    <origin xyz="-0.030743 0.052447 0.007" rpy="0 0 0" />
    <parent link="tool0"/>
    <child link="gripper_body"/>
  </joint>

  <!--kinect V2-->
  <xacro:include filename="$(find common_sensors)/urdf/sensors/kinect2.urdf.xacro" />
  <xacro:kinect2 parent="world" name="KinectSensor2">
    <origin xyz="0.5 0 1.3" rpy="0 ${pi/2} 0" />
  </xacro:kinect2>  



  <!-- Used for fixing ur to Gazebo 'world' -->
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:include filename="$(find ur_gripper_description)/urdf/gzplugin_grasp_fix.urdf.xacro"/>
  <xacro:gzplugin_grasp_fix/>

</robot>
